.intro__list {
    max-width: 383px;
    list-style-type: none;
    padding: 0;
    margin: 24px 0 0 0;
    font-size: 13px;
    line-height: 20px;
}

.intro__list_bold {
    font-weight: bold;
}

@media screen and (max-width : 767px) {
    .intro__list {
        font-size: 12px;
        line-height: 19px;
        margin-top: 32px;
    }
}